[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-html = "*"
pytest-rerunfailures = "*"
pyyaml = "*"
requests = "*"
websocket-client = "*"
locust = "*"
levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.7"
